*.o
*.ko
*.mod.*
*.cmd

*~
*.swp
*.tmp

.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

*.mod
*.mod.c
.mod.o.d

Module.markers
modules.builtin
modules.builtin.modinfo

*.sign
*.signed

.*.cmd
*.slo
*.symvers
*.order

*.d
